<h1>Update Student</h1>
<%= form_for @student do |s| %>
  <%= s.label 'First Name' %><br>
  <%= s.text_field :first_name %><br>

  <%= s.label 'Last Name' %><br>
  <%= s.text_field :last_name %><br>

  <%= s.submit "Update Student" %>
<% end %>
