<%= form_for(@student) do |f| %>
  <h3>Student Form</h3>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %><br>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %><br>

  <%= f.submit %>
<% end %>
