<h1> Here is a list of all the School's Students </h1>

<% @students.each do |student| %>
  <p><%= link_to student.to_s, student_path(student) %></p>
<% end %>

<%= form_tag new_student_path, method: 'get' do %>
  <%= submit_tag "Add New Student" %>
<% end %>

<%= form_tag school_classes_path, method: 'get' do %>
  <%= submit_tag "Go To School's Classes" %>
<% end %>
