<h1>Student Form</h1>
<%= form_for(@student) do |f| %>
<%= f.label :"first name" %><br>
<%= f.text_field :first_name %><br>

<%= f.label :"last name" %><br><br>
<%= f.text_field :last_name %><br>

  <%= f.submit %>
<% end %>
