<h1>Student Form</h1>

<%= form_for @student do |f| %>
  <%= f.label 'First Name:' %><br>
  <%= f.text_field :first_name, id: 'student_first_name' %><br>
  
  <%= f.label 'Last Name:' %><br>
  <%= f.text_field :last_name, id: 'student_last_name' %><br>
  
  <%= f.submit 'Create Student' %>
<% end %>