<h1>Student Form</h1>
<%= form_tag students_path do %>
    <%= label_tag "student[first_name]", "First Name" %>
    <%= text_field_tag "student[first_name]" %>
    <br>
    <%= label_tag "student[last_name]", "Last Name:" %>
    <%= text_field_tag "student[last_name]" %>
    <br>
    <%= submit_tag "Create Student" %>
<% end %>