<h1>School Class Form</h1>

<%= form_for @school_class do |f| %>
  <%= f.label 'Title:' %>
  <%= f.text_field :title %>
  <%= f.label 'Room number:' %>
  <%= f.text_field :room_number %>
  <%= f.submit %>
<% end %>
