<h1>Update School Class</h1>

<%= form_for @school_class do |f| %>
  <%= f.label 'School Class Title:' %><br>
  <%= f.text_field :title, id: 'school_class_title' %><br>
  
  <%= f.label 'School Class Room Number:' %><br>
  <%= f.text_field :room_number, id: 'school_class_room_number' %><br>
  
  <%= f.submit 'Update School class' %>
<% end %>