<h1>School Class Form</h1>

<%= form_for @school_class do |f| %>
  <%= f.label 'Title' %>
  <%= f.text_field :title %> <br>

  <%= f.label 'Room Number' %>
  <%= f.text_field :room_number %> <br>

  <%= f.submit %>

<% end %>