<h1>School Class Form</h1>

<%= form_for @school_class do |f| %>

<%= f.label :title %><br>
<%= f.text_field :title %><br>

<%= f.label :room_number %><br>
<%= f.number_field :room_number %><br>

<%= f.submit "Create School class"%>

<% end %>
