<h1>School Class Form</h1>
<%= form_for(SchoolClass.new) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  <%= f.label :room_number %>
  <%= f.text_field :room_number %><br>
  <%= f.submit "Create School class" %>
<% end %>
