<h1>School Class Form</h1>
<%= form_tag school_classes_path do %>
    <%= label_tag "school_class[title]", "Title:" %>
    <%= text_field_tag "school_class[title]" %>
    <br>
    <%= label_tag "school_class[room_number]", "Room Number:" %>
    <%= text_field_tag "school_class[room_number]" %>
    <br>
    <%= submit_tag "Create School class" %>
<% end %>