<h1> Title: <%= @school_class.title %> </h1>
<h2> Room Number: <%= @school_class.room_number %> </h2>

<%= form_tag edit_school_class_path, method: "GET" do %>
  <%= submit_tag "Edit Class" %>
<% end %>

<br>
<br>
<%= form_tag school_classes_path, method: 'get' do %>
  <%= submit_tag "Go To School's Classes" %>
<% end %>

<%= form_tag students_path, method: 'get' do %>
  <%= submit_tag "Go To Students" %>
<% end %>
